<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add New Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">Add New Teacher</h2>

            <form method="post" enctype="multipart/form-data" th:object="${teacherDto}">
                <div class="mb-3">
                    <label class="form-label">Current ID</label>
                    <input class="form-control" th:value="${currentId}" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input class="form-control" th:field="${teacherDto.firstName}">
                    <p th:if="${#fields.hasErrors('firstName')}" th:classappend="text-danger" th:errors="${teacherDto.firstName}"></p>
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input class="form-control" th:field="${teacherDto.lastName}">
                    <p th:if="${#fields.hasErrors('lastName')}" th:classappend="text-danger" th:errors="${teacherDto.lastName}"></p>
                </div>

                <div class="mb-3">
                    <label class="form-label">Phone</label>
                    <input class="form-control" th:field="${teacherDto.phone}">
                    <p th:if="${#fields.hasErrors('phone')}" th:classappend="text-danger" th:errors="${teacherDto.phone}"></p>
                </div>
                <div class="mb-3">
                    <label class="form-label">Departement</label>
                    <select class="form-select" th:field="${teacherDto.departement}">
                        <option value="">Select The Departement</option>
                        <option value="Informatique">Informatique</option>
                        <option value="Langue">Langue</option>
                        <option value="Economie">Economie</option>
                    </select>
                    <p th:if="${#fields.hasErrors('departement')}" th:classappend="text-danger" th:errors="${teacherDto.departement}"></p>
                </div>
                <div class="mb-3">
                    <label class="form-label">Matriculate</label>
                    <input class="form-control" th:field="${teacherDto.matriculate}">
                    <p th:if="${#fields.hasErrors('matriculate')}" th:classappend="text-danger" th:errors="${teacherDto.matriculate}"></p>
                </div>

                <div class="mb-3">
                    <label class="form-label">Image</label>
                    <input class="form-control" type="file" th:field="${teacherDto.imageFile}">
                    <p th:if="${#fields.hasErrors('imageFile')}" th:classappend="text-danger" th:errors="${teacherDto.imageFile}"></p>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="d-grid mt-3">
                    <a class="btn btn-outline-primary" th:href="@{/teacher}" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
